/*--------------------------------------------------------------
19.0 Media Queries
--------------------------------------------------------------*/


@media screen and (min-width: 33.75em) {

	/* Typography */

	body,
	button,
	input,
	select,
	textarea {
		font-size: 18px;
		font-size: 1.125rem;
	}

	h1 {
		font-size: 30px;
		font-size: 1.875rem;
	}

	h2 {
		font-size: 26px;
		font-size: 1.625rem;
	}

	h3 {
		font-size: 22px;
		font-size: 1.375rem;
	}

	h4 {
		font-size: 18px;
		font-size: 1.125rem;
	}

	h5 {
		font-size: 13px;
		font-size: 0.8125rem;
	}

	h6 {
		font-size: 16px;
		font-size: 1rem;
	}


	
	/* Fix image alignment */
	img.alignleft {
		float: left;
		margin-right: 1.5em;
	}

	img.alignright {
		float: right;
		margin-left: 1.5em;
	}

	/* Navbar Layout */
	
	.top-navbar {
		padding-left: 2em;
		padding-right: 2em;
	}
	
	/* The logo and menu toggle float next to each other */
	.custom-logo-link,
	.menu-toggle {
		width: auto;
		clear: none;
	}
	
	.custom-logo-link {
		float: left;
		margin-bottom: 0;
	}

	.menu-toggle {
		float: right;
		margin: 0;
		padding: 0;
		line-height: 70px; /* Equals height of logo */
	}

	.site-branding:before,
	.site-branding:after {
		content: "";
		display: table;
		table-layout: fixed;
	}

	.site-branding:after {
		clear: both;
	}

	
	/* Front Page */

	.anp-panel .recent-posts .entry-header {
		margin-bottom: 0;
	}
    
    

	/* Blog Index, Archive, Search */

	.taxonomy-description {
		font-size: 14px;
		font-size: 0.875rem;
	}

	.page-numbers.current {
		font-size: 16px;
		font-size: 1rem;
	}

	/* Site Footer */

	.site-footer {
		font-size: 16px;
		font-size: 1rem;
	}

	/* Gallery Columns */

	.gallery-item {
		max-width: 25%;
	}

	.gallery-columns-1 .gallery-item {
		max-width: 100%;
	}

	.gallery-columns-2 .gallery-item {
		max-width: 50%;
	}

	.gallery-columns-3 .gallery-item {
		max-width: 33.33%;
	}

	.gallery-columns-4 .gallery-item {
		max-width: 25%;
	}
}

@media screen and (min-width: 52em) {

	/* Typography */

	body,
	button,
	input,
	select,
	textarea {
		font-size: 16px;
		font-size: 1rem;
		line-height: 1.5;
	}



	/* Layout */
	
	.top-navbar {
		padding-left: 4em;
		padding-right: 4em;
	}


	/* Scroll down arrow */
	/* Show it (not shown on smaller than 45em screen sizes) */
	
	.custom-header .menu-scroll-down-container {
		text-align: center;
		display: block;
		position: absolute;
		left: 0;
		bottom: 1.5em;
		top: auto;
		right: 0;
		width: 100%;
	}
	.custom-header .menu-scroll-down-container a {
		display: inline-block;
				 
				 
		color: #fff;
	}
	
	.menu-scroll-down:focus {
		outline: thin dotted;
	}		
	
	.menu-scroll-down .icon {
		height: 30px;
		width: 30px;
	}
	



	/* Front Page
	-------------------------------------------------------*/

	/* Header */
	/* Go full height */

	.anp-front-page .custom-header {
										
		height: auto;
	}

	.anp-front-page .custom-header-image {
				
		position: relative;
  

													   
											  
			
					 
  

																		 
			
			   
		  
					 
		   
		 
  

													   
											  
		height: 1200px;
		height: 100vh;
		max-height: 100%;
		overflow: hidden;
	}

	
	
	
	
	/* Front Page */
	
	.anp-panel {
		padding-bottom: 6em;
		padding-top: 6em;
	}
	
	.anp-panel .entry-featured-image.on-left {
		position: relative;
		padding: 15% 0;
        margin-right: 15%;
        border: 2px solid #DBC76D;
	}
	
    
    .anp-panel .entry-featured-image.on-left img{
        position: relative;
        right: -15%;
	}
		
		    
	.anp-panel .entry-featured-image.on-right {
		position: relative;
		padding: 15% 0;
        margin-left: 15%;
        border: 2px solid #DBC76D;
	}
	
    
    .anp-panel .entry-featured-image.on-right img{
        position: relative;
        left: -15%;
	}
		
	.anp-panel .row {
		display: flex;
        flex-direction: row;
        align-items:center;
    }
    

	
	
	
	
	
	
	
	/* Front Page - Recent Posts */

	.anp-panel .recent-posts article {
		margin-bottom: 4em;
	}

	.anp-panel .recent-posts .entry-header,
	.anp-panel .recent-posts .entry-content {
		float: none;
		width: 100%;
	}

	.anp-panel .recent-posts .entry-header {
		margin-bottom: 1.5em;
	}

	.page .anp-panel .recent-posts .entry-title {
		font-size: 26px;
		font-size: 1.625rem;
	}

	
	
	
	
	/* Posts */

	.site-content {
		padding: 5.5em 0 0;
	}

	.single-post .entry-title,
	.page .entry-title {
		font-size: 26px;
		font-size: 1.625rem;
	}

	.comments-pagination,
	.post-navigation {
		clear: both;
	}

	.post-navigation .nav-previous {
		float: left;
		width: 50%;
	}

	.post-navigation .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}

	.nav-next,
	.post-navigation .nav-next {
		margin-top: 0;
	}

	/* Blog, archive, search */

	.sticky .icon-thumb-tack {
		height: 23px;
		left: -2.5em;
		top: 1.5em;
		width: 32px;
	}

	.blog .site-main > article,
	.archive .site-main > article,
	.search .site-main > article {
		padding-bottom: 4em;
	}

	.navigation.pagination {
		clear: both;
		float: right;
		width: 58%;
	}

	.has-sidebar .navigation.pagination,
	.archive.page-one-column:not(.has-sidebar) .navigation.pagination {
		float: none;
		width: 100%;
	}

	.entry-footer {
		width: 100%;
	}








	/* Post formats */

	.format-quote blockquote .icon {
		left: -1.5em;
	}

	/* Pages */

    
    .page-header {
        max-width: 50%;
    }
   

	.page:not(.home) #content {
		padding-bottom: 3.25em;
	}

	/* 404 page */

	.error404 .page-content {
		padding-bottom: 9em;
	}

	/* Comments */

	#comments {
		padding-top: 5em;
	}

	.comments-title {
		margin-bottom: 2.5em;
	}

	ol.children .children {
		padding-left: 2em;
	}

	/* Posts pagination */

	.nav-links .nav-title {
		position: relative;
	}

	.nav-title-icon-wrapper {
		position: absolute;
		text-align: center;
		width: 2em;
	}

	.nav-links .nav-previous .nav-title .nav-title-icon-wrapper {
		left: -2em;
	}

	.nav-links .nav-next .nav-title .nav-title-icon-wrapper {
		right: -2em;
	}

	/* Secondary */

	#secondary {
		font-size: 14px;
		font-size: 0.875rem;
		line-height: 1.6;
	}

	/* Widgets */

	.widget-title {
		font-size: 11px;
		font-size: 0.6875rem;
		margin-bottom: 2em;
	}

	/* Footer */

	.site-footer {
		font-size: 14px;
		font-size: 0.875rem;
		line-height: 1.6;
		margin-top: 3em;
	}

	.site-info {
		padding: 2em 0;
		font-size: 14px;
		font-size: 0.875rem;
	}

	/* Gallery Columns */

	.gallery-columns-5 .gallery-item {
		max-width: 20%;
	}

	.gallery-columns-6 .gallery-item {
		max-width: 16.66%;
	}

	.gallery-columns-7 .gallery-item {
		max-width: 14.28%;
	}

	.gallery-columns-8 .gallery-item {
		max-width: 12.5%;
	}

	.gallery-columns-9 .gallery-item {
		max-width: 11.11%;
	}
	
	
	
	.footer-social-links li {
		width: auto;
		padding-left: 3em;
		padding-right: 3em;
	}

	
	.instagram-widget li {
		padding-left: 3em;
		padding-right: 3em;
		width: auto;
		display: inline-block;
		vertical-align: bottom;
	}
	
	
	
	
	
}

@media screen and ( min-width: 60em ) {

	/* Layout */
	
	.top-navbar {
		padding-left: 6em;
		padding-right: 6em;
	}
	
	.top-navbar:before,
	.top-navbar:after {
		content: "";
		display: table;
		table-layout: fixed;
	}

	.top-navbar:after {
		clear: both;
	}
	
	.main-navigation {
		position: static;
		float: right;
		width: auto;
		clear: none;
		padding: 0;
		/* remove box shadow from mobile menu view */
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
				box-shadow: none;
}
	
	.site-branding {
		float: left;
		width: auto;
		clear: none;
		padding: .5em 0;
	}
	
	.custom-logo-link img {
		max-height: 80px;
	}

	/* Navigation */

	.top-navbar .main-navigation {

	}

	.top-navbar .main-navigation nav {
		margin-left: 1.25em;
	}
	
	
	.top-navbar .main-navigation .social-navigation {
		display: none;
	}

	
/* Main Navigation */

	.js .menu-toggle,
	.js .dropdown-toggle {
		display: none;
	}



	.js .main-navigation ul,
	.js .main-navigation ul ul,
	.js .main-navigation > div > ul {
		display: block;
	}

	.main-navigation ul {
		background: transparent;
		padding: 0;
	}

	.main-navigation > div > ul {
		border: 0;
		margin-bottom: 0;
		padding: 0;
	}

	.main-navigation li {
		border: 0;
		display: inline-block;
	}
	
	.main-navigation .site-navigation li:last-child a {
		padding-right: 0;
	}

	.main-navigation li li {
		display: block;
	}

	.main-navigation a {
		padding: .5em 1.25em;
		line-height: 80px;
	}

	.main-navigation ul ul {
		background: #fff;
		border: 1px solid #bbb;
		left: -999em;
		padding: 0;
		position: absolute;
		top: 100%;
		z-index: 99999;
	}

	.main-navigation ul li.menu-item-has-children:before,
	.main-navigation ul li.menu-item-has-children:after,
	.main-navigation ul li.page_item_has_children:before,
	.main-navigation ul li.page_item_has_children:after {
		border-style: solid;
		border-width: 0 6px 6px;
		content: "";
		display: none;
		height: 0;
		position: absolute;
		right: 1em;
		bottom: -1px;
		width: 0;
		z-index: 100000;
	}

	.main-navigation ul li.menu-item-has-children.focus:before,
	.main-navigation ul li.menu-item-has-children:hover:before,
	.main-navigation ul li.menu-item-has-children.focus:after,
	.main-navigation ul li.menu-item-has-children:hover:after,
	.main-navigation ul li.page_item_has_children.focus:before,
	.main-navigation ul li.page_item_has_children:hover:before,
	.main-navigation ul li.page_item_has_children.focus:after,
	.main-navigation ul li.page_item_has_children:hover:after {
		display: block;
	}

	.main-navigation ul li.menu-item-has-children:before,
	.main-navigation ul li.page_item_has_children:before {
		border-color: transparent transparent #bbb;
		bottom: 0;
	}

	.main-navigation ul li.menu-item-has-children:after,
	.main-navigation ul li.page_item_has_children:after {
		border-color: transparent transparent #fff;
	}

	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		left: 100%;
		right: auto;
	}

	.main-navigation ul ul a {
		padding: 0.75em 1.25em;
		width: 16em;
	}

	.main-navigation li li {
		-webkit-transition: background-color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out;
	}

	.main-navigation li li:hover,
	.main-navigation li li.focus {
		background: #767676;
	}

	.main-navigation li li a {
		-webkit-transition: color 0.3s ease-in-out;
		transition: color 0.3s ease-in-out;
	}

	.main-navigation li li.focus > a,
	.main-navigation li li:focus > a,
	.main-navigation li li:hover > a,
	.main-navigation li li a:hover,
	.main-navigation li li a:focus,
	.main-navigation li li.current_page_item a:hover,
	.main-navigation li li.current-menu-item a:hover,
	.main-navigation li li.current_page_item a:focus,
	.main-navigation li li.current-menu-item a:focus {
		color: #fff;
	}

	.main-navigation ul li:hover > ul,
	.main-navigation ul li.focus > ul {
		left: 0.5em;
		right: auto;
	}

	.main-navigation .menu-item-has-children > a > .icon,
	.main-navigation .page_item_has_children > a > .icon {
		display: inline;
		left: 5px;
		position: relative;
		top: -1px;
	}

	.main-navigation ul ul .menu-item-has-children > a > .icon,
	.main-navigation ul ul .page_item_has_children > a > .icon {
		margin-top: -9px;
		left: auto;
		position: absolute;
		right: 1em;
		top: 50%;
		-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
		-ms-transform: rotate(-90deg); /* IE 9 */
		transform: rotate(-90deg);
	}

	.main-navigation ul ul ul {
		left: -999em;
		margin-top: -1px;
		top: 0;
	}

	.main-navigation ul ul li.menu-item-has-children.focus:before,
	.main-navigation ul ul li.menu-item-has-children:hover:before,
	.main-navigation ul ul li.menu-item-has-children.focus:after,
	.main-navigation ul ul li.menu-item-has-children:hover:after,
	.main-navigation ul ul li.page_item_has_children.focus:before,
	.main-navigation ul ul li.page_item_has_children:hover:before,
	.main-navigation ul ul li.page_item_has_children.focus:after,
	.main-navigation ul ul li.page_item_has_children:hover:after {
		display: none;
	}

	
	.main-navigation .social-navigation ul {
		border-top: 0;
	}
	
	/* Sticky posts */

	.sticky .icon-thumb-tack {
		font-size: 32px;
		font-size: 2rem;
		height: 22px;
		left: -1.25em;
		top: 0.75em;
		width: 32px;
	}

	/* Pagination */

	.page-numbers {
		display: inline-block;
	}

	.page-numbers.current {
		font-size: 15px;
		font-size: 0.9375rem;
	}

	.page-numbers.current .screen-reader-text {
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		overflow: hidden;
		position: absolute !important;
		width: 1px;
	}

}










