
/*--------------------------------------------------------------
1.0 Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}


/*--------------------------------------------------------------
2.0 Alignments
--------------------------------------------------------------*/

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignleft,
img.alignright {
	float: none;
	margin: 0;
}


/* Not sure if wordpress puts in extra classes for aligning text */
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.float-left {
	float: left;
}
.float-right {
	float: right;
	
}






/*--------------------------------------------------------------
4.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #9a9d9e;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-size: .9375rem;
	line-height: 1.66;
	font-weight: normal;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: 0;
	font-weight: 400;
	line-height: 1.4;
	padding: 1.5em 0 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	padding-top: 0;
}

h1 {
	font-size: 32px;
	font-size: 2rem;
}

h2 {
	font-size: 26px;
	font-size: 1.625rem;
}

h3 {
	font-size: 20px;
	font-size: 1.25rem;
}

h4 {
	font-size: 16px;
	font-size: 1rem;
}

h5{
	font-size: 14px;
	font-size: .875rem;
}

h6 {
	font-size: 12px;
	font-size: 0.75rem;
}


p {
	margin: 0 0 1.5em;
	padding: 0;
}


dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

blockquote {
	color: #666;
	font-size: 18px;
	font-size: 1.125rem;
	font-style: italic;
	line-height: 1.7;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

blockquote cite {
	display: block;
	font-style: normal;
	font-weight: 600;
	margin-top: 0.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}


/* not sure what this does */
:focus {
	outline: none;
}

/*--------------------------------------------------------------
5.0 Elements
--------------------------------------------------------------*/
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
    display: block;
    height: 1px;
    border: 0;
	background-color: #777;
    margin: 1.5em 0;
    padding: 0;
}


/*-------------------------------------------------------------
6.0 Lists
-------------------------------------------------------------*/

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}




/*--------------------------------------------------------------
7.0 Tables
--------------------------------------------------------------*/

table {
	border-collapse: collapse;
	margin: 0 0 1.5em;
	width: 100%;
}

thead th {
	border-bottom: 2px solid #bbb;
	padding-bottom: 0.5em;
}

th {
	padding: 0.4em;
	text-align: left;
}

tr {
	border-bottom: 1px solid #eee;
}

td {
	padding: 0.4em;
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	padding-right: 0;
}




/*--------------------------------------------------------------
8.0 Media
--------------------------------------------------------------*/
img,
video {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	margin-bottom: 1.5em;
	max-width: 100%;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}



/*--------------------------------------------------------------
9.0 Links
--------------------------------------------------------------*/
a {
	color: inherit;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #dbc76d;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}


/*--------------------------------------------------------------
10.0 Forms

.button class is used in Skeleton, don't necessarily need to use it in my design

may want reset and submit buttons to be different (usually next to each other)

make sure pixels and rems match up
--------------------------------------------------------------*/
fieldset {
	margin-bottom: 1em;
}

/* The HTML <label> element represents a caption for an item in a user interface.
   like a heading within a form */
label ,
legend {
	border: 0;
	padding: 0;
	display: block;
	font-weight: 600;
	margin-bottom: 0.5em;
}

select {
	height: 2em;
	max-width: 100%;
	border: 1px solid #777;
}

textarea {
	min-height: 4rem;
	width: 100%;
}



.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: inline-block;
	padding: 1em 2em;
	text-align: center;
	font-size: 14px;
	font-size: .875rem;
	font-weight: 400;
	line-height: 1;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	text-shadow: none;
	color: #dbc76d;
	background-color: transparent;		
	cursor: pointer;

	box-sizing: border-box;
	
	border: 1.5px solid #dbc76d;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-transition: background-color 0.2s,
						color 0.2s;
	transition: background-color 0.2s,
				color 0.2s;
}


.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.button:active,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  color: #fff;
  border-color: #dbc76d;
  background-color: #dbc76d;
} 

.button.button-primary,
button.button-primary,
input[type="button"].button-primary,
input[type="reset"].button-primary,
input[type="submit"].button-primary {
  color: #fff;
  border-color: #dbc76d;
  background-color: #dbc76d;
}
  
.button.button-primary:hover,
button.button-primary:hover,
input[type="button"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="submit"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="button"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="submit"].button-primary:focus,
.button.button-primary:active,
button.button-primary:active,
input[type="button"].button-primary:active,
input[type="reset"].button-primary:active,
input[type="submit"].button-primary:active {
	border-color: #dbc76d;
	color: #dbc76d;
	background-color: transparent;		
} 






/* From Specular
-----------------------------------*/

.btn-bt{
    color: #222;
    background: rgba(255, 255, 255, 0.00);
    border-color: rgba(68, 68, 68, 0.20);
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	outline: 0;
	position: relative;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	border-width:2px;
	border-style:solid;
	float:left;
	padding:10px 38px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-webkit-backface-visibility: hidden;
}


.btn-bt span {
  position: relative;
  left: 0;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.btn-bt:hover span {
	left: -1em;
}

.btn-bt i {
  font-size: 14px;
  position: absolute;
  top: 50%;
  line-height:20px;
  margin-top:1px;
  left: 73%;
  -ms-filter: "alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.btn-bt:hover i {
  left: 77%;
  -ms-filter: "alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.btn-bt i{
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.btn-bt:hover{
	border:2px solid;
	color: #222222;
	background: rgba(255, 255, 255, 0.00);
	border-color: rgba(68, 68, 68, 1.00);
}
.btn-bt:hover i{
  left:80%;
}











/* input types
"https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input"
--------------------------------------------------------------------*/

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
	border: 1px solid #777;
	color: #333;
	background: #fff;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
	-webkit-border-radius: 0;
	border-radius: 0;
	display: block;
	padding: 0.7em;
	width: 100%;
}

input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="range"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
textarea:focus {
	border-color: #333;
}

input[type="radio"],
input[type="checkbox"] {
	margin-right: 0.5em;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
	font-weight: 400;			
}

input[type="file"] {
	max-width: 100%;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
	color: #333;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

:-moz-placeholder {
	color: #333;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

::-moz-placeholder {
	color: #333;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
	color: #333;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}
