/* -------------------- Wordpress Specific ------------------*/

/*--------------------------*
/*  WordPress Styles
/*--------------------------*/
.aligncenter {
	display:block;
	margin:0 auto;
}

.alignright {
float:right;
  margin:10px 0 10px 10px;
}

.alignleft {
float:left;
  margin:10px 10px 10px 0;
}

.floatleft {
float:left;
}

.floatright {
float:right;
}

.textcenter {
text-align:center;
}

.textright {
text-align:right;
}

.textleft {
text-align:left;
}

.wp-caption {
	text-align:center;
	max-width:100%;
	padding:4px;
	float:left;
	background-color:#fff;
	border:1px solid rgba(0,0,0,0.2);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	box-shadow:0 1px 3px rgba(0,0,0,0.1);
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.wp-caption img {
	margin:0;
	padding:0;
	border:0 none;
}

.wp-caption p.wp-caption-text {
	font-size:11px;
	line-height:17px;
	padding:0 4px 5px;
	margin:0;
	}

.wp-smiley {margin:0 !important;
 max-height:1rem;
 }

blockquote.left {margin-right:20px;
 text-align:right;
 margin-left:0;
 width:33%;
 float:left;
 }

blockquote.right {
	margin-left:20px;
	text-align:left;
	margin-right:0;
	width:33%;
	float:right;
	}


/*--------------------------*
/*  WordPress Widget Styles
/*--------------------------*/
.widget {}

/* links widget */
.widget_links {}
.widget_links ul {}
.widget_links ul li {}
.widget_links ul li a {}

/* meta widget */
.widget_meta {}
.widget_meta ul {}
.widget_meta ul li {}
.widget_meta ul li a {}

/* pages widget */
.widget_pages {}
.widget_pages ul {}
.widget_pages ul li {}
.widget_pages ul li a {}

/* recent-posts widget */
.widget_recent_entries {}
.widget_recent_entries ul {}
.widget_recent_entries ul li {}
.widget_recent_entries ul li a {}

/* archives widget */
.widget_archive {}
.widget_archive ul {}
.widget_archive ul li {}
.widget_archive ul li a {}
.widget_archive select {}
.widget_archive option {}

/* tag-cloud widget */
.widget_links {}
.widget_links li:after {}
.widget_links li:before {}
.widget_tag_cloud {}
.widget_tag_cloud a {}
.widget_tag_cloud a:after {}
.widget_tag_cloud a:before {}

/* calendar widget */
.widget_calendar {}
#calendar_wrap {}
#calendar_wrap th {}
#calendar_wrap td {}
#wp-calendar tr td {}
#wp-calendar caption {}
#wp-calendar a {}
#wp-calendar #today {}
#wp-calendar #prev {}
#wp-calendar #next {}
#wp-calendar #next a {}
#wp-calendar #prev a {}

/* calendar widget */
.widget_calendar {
	float: left;
	}

#wp-calendar {
	width: 100%;
}

#wp-calendar caption {
	text-align: right;
	color: #333;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 15px;
}

#wp-calendar thead {
	font-size: 10px;
}

#wp-calendar thead th {
	padding-bottom: 10px;
}

#wp-calendar tbody {
	color: #aaa;
}

#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	text-align: center;
	padding:8px;
}

#wp-calendar tbody td:hover {
	background: #fff;
}

#wp-calendar tbody .pad {
	background: none;
}

#wp-calendar tfoot #next {
	font-size: 10px;
	text-transform: uppercase;
	text-align: right;
}

#wp-calendar tfoot #prev {
	font-size: 10px;
	text-transform: uppercase;
	padding-top: 10px;
}


/* category widget */
.widget_categories {}
.widget_categories ul {}
.widget_categories ul li {}
.widget_categories ul ul.children {}
.widget_categories a {}
.widget_categories select{}
.widget_categories select#cat {}
.widget_categories select.postform {}
.widget_categories option {}
.widget_categories .level-0 {}
.widget_categories .level-1 {}
.widget_categories .level-2 {}
.widget_categories .level-3 {}

/* recent-comments widget */
.recentcomments {}
#recentcomments {}
#recentcomments li {}
#recentcomments li a {}
.widget_recent_comments {}

/* search widget */
#searchform {}
.widget_search {}
.screen-reader-text {}

/* text widget */
.textwidget {
	text-align: center;
}
.widget_text {}
/*--------------------------*
/*  End WordPress Styles
/*--------------------------*/






/*--------------------------*
/*  Codeless WordPress Styles
/*--------------------------*/


.wp-caption a {
  display:block;
  padding:5px;
  padding-bottom:0px;
}

.wp-caption.alignleft{
  margin-right:20px;
}

.wp-caption.alignright{
  margin-left:20px;
}

.wp-caption-text {
  padding-left:7px;
  margin-bottom:7px;
  text-align:center;
  font-size:13px;
}

.wp-caption-text,
.gallery-caption,
.entry-caption {
  line-height:1.5em;
}

img.wp-smiley,.rsswidget img {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  box-shadow:none;
  margin-bottom:0;
  margin-top:0;
  padding: 0;
}

.entry-content dl.gallery-item {
  margin:0;
}
.sticky {
  padding:5% !important;
  width:90%;
  background:#fff;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}
.post-password-form input[type="password"]{
  background:#fff;
  height:30px;
}

/* -------------------- End Wordpress Specific ------------------*/
/* --------------------------------------------------------------*/


.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}